:root {
--bs-primary: var(--wp--preset--color--primary);
--bs-secondary: var(--wp--preset--color--secondary);
--bs-primary-rgb: 21, 153, 137;
--bs-secondary-rgb: 249, 179, 56;

}


.bd-callout {
  padding: 1.25rem;
  margin-top: 0.8rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-left-color: var(--wp--preset--color--secondary);
}

.bd-container {
  padding: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: .5rem;
  border-radius: .25rem;
  border-left-color: var(--wp--preset--color--primary);
  margin-top: 0.8rem;
}

.bd-container-even {
  padding: 1.25rem;
  border: 1px solid #aaa;
  border-left-width: .5rem;
  border-radius: .25rem;
  border-left-color: var(--wp--preset--color--primary);
  margin-top: 0.8rem;
}


@media print {
  :root {
    font-size: 12pt;
  }

  h1, h2, h3, h4, h5 {
    padding: 0;
  }

  ul {
    margin: 0;
  }

  .no-print {
    display: none;
  }

  .only-Print {
    display: block;
  }
  
  .visible-on-print {
    display: block;
  }
}

.no-print {
  display: block;
}



